:root {
    background-color: rgb(161, 161, 161);
    padding: 2em;
    padding-top: 4em;
}

BODY,
H2,
H3,
H4,
H5,
H6,
TH,
TD {
    font-family: arial, helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

H1 {
    font-size: 3em;
    font-family: arial, helvetica, sans-serif;
    font-weight: bolder;
    background-color: rgb(214, 214, 214);
    border-radius: 0.05em;
    padding: 0.1em 0.1em 0.1em 0.1em;
    box-shadow: 0em 0em 0.15em rgb(211, 211, 211);
    text-shadow: 0em 0em 1px rgb(68, 68, 68);
}

.flex {
    display: flex;
    row-gap: 1em;
    column-gap: 1em;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

main {
    background-color: rgb(238, 238, 238);
    border-radius: 0.25em;
    box-shadow: 0em 0em 0.5em rgb(20, 20, 20);
    flex-wrap: wrap;
    padding: 1em;
    max-width: 400px;
}

/* https://stackoverflow.com/questions/6088409/svg-drop-shadow-using-css3 */
.shadow {
    -webkit-filter: drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.7));
}

svg {
    border-radius: 0.1em;
    border: 5px solid rgb(77, 77, 77);
}

svg rect {
    stroke: black;
    stroke-width: 2px;
}

#svgCanvas {
    background-color: rgb(154, 154, 154);
}

#info {
    width: 160px;
    margin-top: 1em;
}

#info > .text {
    font-weight: bold;
}

.left {
    font-size: 1.1em;
    float: left;
}

.right {
    font-size: 1em;
    float: right;
}

#gameOver {
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}

.key {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 2px solid black; /* Border around the key */
    border-radius: 4px; /* Optional: Rounded corners */
    margin: 3px;
    font-size: 14px;
}

.key-green {
    background-color: #00ff00;
}

.key-red {
    background-color: #ff0000;
}

.key-blue {
    background-color: #0000ff;
}

.key-yellow {
    background-color: #ffff00;
}

.text {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#songSelection button{
    font-size: 16px; 
    padding: 5px 10px; 
    margin: 5px 0; 
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

